
.card{
  height: 650px;
  background-color: transparent;
}

.image2{
  height: 70vh;
  width: 100vw;
  left: 100px;
  padding-right: 350px;
  padding-left: 350px;
}
.textHome1{
  margin-top: 20px;
}

.textHome2{
  margin-top: 10px;
}
